body{
    font-family: Arial, sans-serif;
}

.hero{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/9c/b2/d4/margherita.jpg?w=1400&h=800&s=1");
    background-size: cover;
    background-position: center;
}

.hero p{
    font-size: 20px;
}

.modal-content{
    border-radius: 15px;
}

.btn-warning{
    padding: 10px 25px;
    font-weight: bold;
}

input{
    box-shadow: none !important;
}